main {
  background-color: #dac0a3;
  width: 95%;
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  opacity: 30%;
}

a {
  font-size: 14px;
  font-weight: 700;
}
nav {
  background-color: #eadbc8;
}
.superNav {
  font-size: 13px;
}
.srcbtn {
  background-color: #102c57;
}

.form-control {
  outline: none !important;
  box-shadow: none !important;
}
@media screen and (max-width: 540px) {
  .centerOnMobile {
    text-align: center;
  }
}
