* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}

main {
  background-color: #c4a480;
  width: 95%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
}

a {
  font-size: 14px;
  font-weight: 700;
}
nav {
  background-color: #eadbc8;
}
.superNav {
  font-size: 13px;
}
.srcbtn {
  background-color: #102c57;
}

.form-control {
  outline: none !important;
  box-shadow: none !important;
}
