@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins&display=swap');

:root {
  --main-background: #FEFAF6;
  --sale-background: #EADBC8;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

main {
  background-color: var(--main-background);
  width: 95%;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}

.containerPromo {
  overflow: hidden;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

p, li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

nav {
  background-color: var(--sale-background);
}

.superNav {
  font-size: 13px;
}

.srcbtn {
  background-color: #102c57;
}

.form-control {
  outline: none !important;
  box-shadow: none !important;
}



#card {
  background-color: var(--main-background);
}


#notif{
  z-index: 10000;
}

.mainPromoContainer {
  background-color: var(--main-background);
  display: grid;
  gap: 1rem;
  height: calc(100vh - 60px); /* Adjust height dynamically */
}

.mainPromo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: var(--main-background);
  height: 100%;
  overflow: auto;
}


.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .col-lg-6,
.footer .col-lg-3 {
  margin-bottom: 20px;
}

.footer .col-lg-6 {
  text-align: center;
}

.footer .col-lg-3 {
  text-align: center;
}

.footer h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer p {
  margin-bottom: 10px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: #000;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer .bg-dark {
  padding: 10px 0;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .mainPromo {
    flex-direction: row;
    align-items: center;
  }

  .card {
    flex: 1 1 100%;
    width: 100%;
    margin: 10px 0;
  }
}